:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hero-background-color: #c4c4c4;
    --icon-color: #afb1b8;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* white color #FFFFFF */
/* black color #000000 */
/* adress color rgba(255, 255, 255, 0.6) */

img {
    display: block;
}
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto;
    letter-spacing: 0.03em;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    width: 1200px;
    /* outline: 1px dashed green; */
}
/* -------HEADER---------- */
header .container {
    display: flex;
    align-items: center;

    /* padding-top: 24px;
    padding-bottom: 24px; */
    height: 80px;
}
header {
    border-bottom: 1px solid #ececec;
}
.main {
    border: none;
}
.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
}
.logo-studio {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.site-nav {
    display: flex;
}
.site-nav li:not(:last-child) {
    margin-right: 50px;
}

.site-nav a {
    display: flex;
    position: relative;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.site-nav a.current {
    color: var(--accent-color);
}
.current::after {
    content: '';
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--accent-color);
}
.nav-link::after {
    content: '';
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--accent-color);

    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.nav-link:hover .nav-link::after,
.nav-link:focus .nav-link::after {
    opacity: 1;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav li:not(:last-child) {
    margin-right: 30px;
}
.auth-nav a {
    color: var(--primary-text-colors);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav .list a:hover,
.auth-nav .list a:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.auth-nav .list a {
    display: flex;
    align-items: center;

    padding-bottom: 24px;
    padding-top: 24px;
    cursor: pointer;

    color: var(--primary-text-color);
    fill: var(--primary-text-color);

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.nav-icon {
    margin-right: 10px;
}
.list .phone {
    width: 12px;
    height: 16px;
}
.list .envelope {
    width: 16px;
    height: 12px;
}

/* ------HERO-------- */

.hero div {
    display: flex;
    justify-content: center;
}
.hero {
    background-color: var(--hero-background-color);
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1600px;
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    padding: 200px 0;
}
.hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
}

/* -------FEATURE LIST-------- */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
    padding-left: auto;
    padding-right: auto;
}

.feature-list {
    display: flex;
}
.feature-list li:not(:last-child) {
    margin-right: 30px;
}
.feature-box {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feature-box .section-title {
    display: none;
}
.feature-list .item {
    width: 270px;
}

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.feature-list p {
    font-size: 14px;
    line-height: 1.7;
}
.feature-list .border {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}
.feature-icon {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
/* -------DEALS------------- */
.deals-box {
    padding-bottom: 94px;
}
.deals {
    display: flex;
}
.deals-item:not(:last-child) {
    margin-right: 30px;
}
.deals-item {
    position: relative;
}

.deals-label {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-background-color);
    padding: 27px 0;
}
/* -----------STAFF------------- */
.staff {
    background-color: var(--secondary-background-color);
}
.staff .container {
    padding: 94px 15px;
}
.staff-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.staff-list p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.staff-list {
    display: flex;
}
.staff-list .item {
    background-color: var(--primary-background-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    width: 270px;
}
.staff-list .person:not(:last-child) {
    margin-right: 30px;
}
.staff-list .position {
    padding: 30px 32px;
}

.form {
    display: flex;
    width: 206px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
}
.position-item {
    display: flex;
}
.position-item:not(:last-child) {
    margin-right: 10px;
}
.position-link {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--icon-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.position-link:hover,
.position-link:focus {
    fill: var(--primary-background-color);
    background-color: var(--accent-color);
}

/* ----------CLIENTS--------------- */

.clients .section-title {
    margin-bottom: 50px;
}
.clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list {
    display: flex;
}
.clients-item {
    width: 170px;
    height: 92px;
}
.clients-item:not(:last-child) {
    margin-right: 30px;
}
/* tnp */

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/*-------------- FOOTER -------------------*/

.position h3 {
    margin-bottom: 10px;
}
.position p {
    margin-bottom: 16px;
}
footer {
    background-color: var(--footer-background-color);
}
footer .logo-studio {
    color: #ffffff;
}
footer .logo {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 0;
}
footer .container {
    padding: 60px 15px;
}
.contact-list {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
}
.contact-list a {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.contact-list li:not(:last-child) {
    margin-bottom: 9px;
}
.contact-item {
    color: var(--primary-background-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.contact-item:hover,
.contact-item:focus {
    color: var(--accent-color);
}
.contact-list a:hover,
.contact-list a:focus {
    color: var(--accent-color);
}

footer {
    display: flex;
    justify-content: flex-start;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.container-footer {
    margin-right: 70px;
    margin-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.join {
    padding-top: 72px;
    padding-bottom: 100px;
}
.join p {
    display: flex;
    color: var(--primary-background-color);
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.join-list {
    display: flex;
}
.join-item:not(:last-child) {
    margin-right: 10px;
}

.join-link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-background-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.join-link:hover,
.join-link:focus {
    background-color: var(--accent-color);
}

/* ------SUBSCRIBE------ */
.subscribe {
    margin-left: 93px;
}
.subscribe-form {
    display: flex;
}
.subscribe-form div {
    padding-top: 72px;
    padding-bottom: 94px;
}
.subscribe-title {
    color: var(--primary-background-color);
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
}
.subscribe-data {
    display: block;
    width: 358px;
    height: 50px;
    background-color: var(--footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;

    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    margin-top: 20px;
}

.subscribe-button {
    display: flex;
    border: none;
    border-radius: 4px;
    height: 50px;

    color: var(--primary-background-color);
    background-color: var(--accent-color);
    fill: var(--primary-background-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    margin-top: 110px;
    margin-bottom: 94px;
    margin-left: 12px;
    padding: 10px 29px 10px 29px;
    justify-content: center;
    align-items: center;
}
.subscribe-icon {
    margin-left: 10px;
}
/*-------BUTTONS ---------*/

button {
    font-family: inherit;
}

.button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button.primary {
    padding: 10px 32px;

    color: var(--primary-background-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.button.primary:hover,
.button.primary:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.secondary {
    padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);

    cursor: pointer;
}
.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ------BACKDROP--------- */

.backdrop {
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal-order {
    position: absolute;
    top: 221px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 528px;
    height: 581px;
    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-background-color);
}
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: var(--primary-background-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}
.modal-header {
    font-weight: 700;
    font-size: 20px;
    color: var(--title-text-color);
    text-align: center;
    line-height: 1.15;
    margin-top: 40px;
}
.modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
}
.modal-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}
.modal-item {
    padding-left: 42px;
    margin-bottom: 10px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 100%;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.modal-item:hover,
.modal-item:focus {
    outline: none;
    border-color: var(--accent-color);
}
.modal-item::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-icon {
    position: absolute;
    left: 15px;
    bottom: 24px;
}
.modal-point:hover,
.modal-point:focus {
    fill: var(--accent-color);
}
.modal-point {
    position: relative;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.comment {
    padding: 10px 16px;
}
.modal-body textarea {
    height: 120px;
    resize: none;
}
.checkbox {
    appearance: none;
    position: absolute;
}
.icon {
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 8.3px;
}
.checkbox:checked ~ .icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
}
.policy {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    align-items: center;
}
.policy-text {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    margin-right: 8.3px;
    align-items: center;
}
.policy-link {
    color: var(--accent-color);
    text-decoration-line: underline;
    margin-left: 4px;
}
.modal-submit {
    height: 50px;
    width: 200px;
    padding: 10px 55px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-background-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.modal-submit:hover,
.modal-submit:focus {
    background-color: #188ce8;
}

/* ------PORTFOLIO-------- */

.portfolio {
    display: none;
}

.example-box {
    padding: 94px 15px;
}
.example-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.example-filter :not(:last-child) {
    margin-right: 8px;
}
.example-list {
    display: flex;
    flex-wrap: wrap;
}
.example-block {
    position: relative;

    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.example-block:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.example-block:nth-child(3n) {
    margin-right: 0;
}
.example-block:hover,
.example-block:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.example-type {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.example-list .description {
    border-left: 0.5px solid #eeeeee;
    border-right: 0.5px solid #eeeeee;
    border-bottom: 0.5px solid #eeeeee;

    padding: 20px 24px;
    justify-content: flex-start;
}
.example-title {
    margin-bottom: 4px;
}

.example-item {
    height: 294px;
    overflow: hidden;
}
.image {
    position: relative;
    overflow: hidden;
}
.example-label {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 294px;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-background-color);

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}
.example-block:hover .example-label {
    transform: translateY(0);
}
